.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  overflow: hidden;
}
.dark .appBox .header-box .header-search-Box{
  background-color: rgb(30, 28, 28)!important;
}